
<p>Select Image for Upload</p>
<small>Requirements: Image must be bitmap (bmp, jpg, png) in fomrat!</small>

<form action="/uploads" method="POST" enctype="multipart/form-data">
<div class="input-group">
    <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
            Browse&hellip; <input type="file" name="image" single>
        </span>
    </span>
    <input type="text" class="form-control" readonly>
    <br/>
    
</div>
<br/>
<button type="submit" class="btn btn-primary">Submit</button>
<input type="hidden" name="event_id" value="{{event.id}}"/>
<input type="hidden" name="forward" value="true"/>
</form>