<div id="traceOptions">
<form>
    <div class="row">
        <div class="col controlElement">
            <p>Brightness: 25</p>
            <input type="range" id="brightness" name="brightness" min="-50" max="100" step="1"/>
        </div>

        <div class="col controlElement">
            <p>Contrast</p>
            <input type="range" id="brightness" name="contrast" min="-50" max="100" step="10"/>
        </div>

        <div class="col controlElement">
            <p>Greyscale</p>
            <div class="btn-group" role="group" aria-label="Greyscale">
                <button type="button" class="btn btn-sm btn-light">On</button>
                <button type="button" class="btn btn-sm btn-dark">Off</button>
            </div>
        </div>

        <div class="col controlElement">
            <p>Turnpolicy</p>
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected>minority</option>
                <option>majority</option>
                <option>black</option>
                <option>white</option>
                <option>left</option>
                <option>right</option>                
            </select>
        </div>

        <div class="col controlElement">
            <p>Turdsize</p>
            <input type="range" id="turdsize" name="turdsize" min="-50" max="100" step="1"/>
        </div>                                      

        <div class="col controlElement">
            <p>Alphamax</p>
            <input type="range" id="alphamax" name="alphamax" min="-50" max="100" step="1"/>
        </div>

        <div class="col controlElement">
            <p>Opttolerance</p>
            <input type="range" id="opttolerance" name="opttolerance" min="-50" max="100" step="1"/>
        </div>

        <div class="col controlElement">
            <p>Smoothing</p>
            <input type="range" id="opttolerance" name="opttolerance" min="-50" max="100" step="1"/>
        </div>                           

    </div>

</form>
</div>