{{!< layouts/main }}

<div class="row">

    <div class="col-12">

        <h1>Event List</h1>

        {{#each events}}
        <a href="/events/{{id}}"><p>{{title}} - {{startTime}}</p></a>
        {{/each}}

    </div>


</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        &nbsp;<hr color="white"/>&nbsp;
    </div>
    <div class="col-3"></div>
</div>

<div class="row">

    <div class="col-3"></div>
    <div class="col-6">

        {{> newEventForm}}

    </div>
    <div class="col-3"></div>


</div>